<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Lead Software Developer currently working at Nomura, having previously spent over 6 years into application development, giving me a good blend of technology experience like Java, Oracle, Tibco Business Works. <br/><br/>
			I enjoy creating products with great user experiences and working with a focus on good development practices, automation and performing frequent proof of concepts.
		</div>
		<br>
	</div>
</div>
